
<form id="fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}" action="javascript: return false;" method="POST" enctype="multipart/form-data">
{% if configFiles['modifyAllow'] is defined and configFiles['modifyAllow']==true %}
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-12">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Añadir...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Subir Cola</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar Cola</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Eliminar</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
         {% endif %}
        <!-- The table listing the files available for upload/download --
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table> -->
        <div role="presentation" class="row"><div class="files"   id="gallery_files_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}"></div></div>
       
    </form>
    

<!-- The blueimp Gallery widget -->



<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="col-sm-12 col-md-4 template-upload fade">
    <div class="thumbnail"  style="text-align:center;">
         <span class="preview"></span>
         <div class="caption">
            <h3 class="name">{%=file.name%}</h3>
            <strong class="error text-danger"></strong>
            
            <p class="size">Procesando...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            
           {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Subir</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar</span>
                </button>
            {% } %}
         </div>
      </div>
    </div>    
    
{% } %}
{% endverbatim %}
</script>
<!-- The template to display files available for download -->

<script id="template-download-{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="col-sm-12 col-md-4 template-download fade" data-id="{%=file.id%}" id="file_{%=file.id%}" style='margin-bottom:16px;'>
    <div class="thumbnail"  style="text-align:center;">
         <a data-rel="fancybox-image" class="fancybox-image fancybox" href="{%=file.url%}" title="{%=file.name%}" >
            {% if (file.filetype == 'image'){ %}<img src="{%=file.url%}" height=100 style="max-width:100%;" />{% }else{ %}
            {% endverbatim %}<img src="{{ asset('bundles/dataimage/images/document.png') }}" height="100" style="max-width:100%;" />{% verbatim %}{% } %}         </a>
         <div class="caption">
            <h3>
                {% if (file.url) { %}
                    <!-- <a  href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a> -->
                    <a data-rel="fancybox-image" class="fancybox-image fancybox" href="{%=file.url%}" title="{%=file.name%}"  ><span class="file_name">{%=file.name%}</span></a> 
                {% } else { %}
                    <span class="file_name">{%=file.name%}</span>
                {% } %}
            </h3>
    {% endverbatim %}
      {% if configFiles['id']=='0' %}
          {% verbatim %}{% if (file.item != null){ %}<p class="item_name">{%=file.item.name%}</p>{% } %}{% endverbatim %}
      {% endif %}
    {% verbatim %}            
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
            <div class="file_comments">{% if (file.comments) { %}{%#file.comments%}{% } %}</div>
            <div class="file_link">{% if (file.link) { %}{%#file.link%}{% } %}</div>
    {% endverbatim %}
    {% if configFiles['modifyAllow'] is defined and configFiles['modifyAllow']==true %}
    {%  verbatim %}
            {% if (file.deleteUrl) { %}
                    {% endverbatim %}
                        {% if configFiles['id']=='0' %}
                            {% verbatim %}<a data-toggle="modal" data-target="#{% endverbatim %}{% if configFiles['modalajax'] is defined %}{{ configFiles['modalajax'] }}{% else %}modal_ajax{% endif %}{% verbatim %}"  class="btn btn-success success" href="{%=file.moveUrl%}">{% endverbatim %}
                                {% else %}
                           {% verbatim %}<a data-toggle="modal" data-target="#{% endverbatim %}{% if configFiles['modalajax'] is defined %}{{ configFiles['modalajax'] }}{% else %}modal_ajax{% endif %}{% verbatim %}"  class="btn btn-success success" href="{%=file.editUrl%}">{% endverbatim %}
                        {% endif %}
                      {% verbatim %}
                    <i class="fa fa-pencil"></i>
                    <span>Editar</span>
                </a>
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Eliminar</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        {% endverbatim%}
        {% endif %}
        {% verbatim%}            
         </div>
      </div>
    </div>
    {% if ((i+1)%3==0){ %}<!-- <div class="clearfix"  ></div>-->{% } %}
{% } %}
{% endverbatim %}

</script>

{% if avoidscripts is not defined or avoidscripts == false %}
    {% include('DataimageBundle:Dataimage:addscripts.html.twig') %}
{% endif %}

<script>

    $('body').ready(function () {
        'use strict';

        // Initialize the jQuery File Upload widget:
        $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}').fileupload({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: '{{ path('dataimage_uploadimage', {'id': configFiles['id'], 'type': configFiles['type'], 'filetype': configFiles['filetype']} ) }}',
            filesContainer: '#gallery_files_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}',
            downloadTemplateId: "template-download-{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}"
        });

        // Enable iframe cross-domain access via redirect option:
        $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}').fileupload(
            'option',
            'redirect',
            window.location.href.replace(
                /\/[^\/]*$/,
                '{{ asset('bundles/dataimage/plugins/jquery-file-upload/cors/result.html?%s') }}'
            )
        );

        $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}').fileupload('option', {
            maxFileSize: 50000000,
			maxChunkSize: 50000000, // 50 MB
			/*maxNumberOfFiles:10,*/
			sequentialUploads: true,
            acceptFileTypes: {{ (configFiles['filetype']=='image') ? '/(\\.|\\/)(gif|jpe?g|png)$/i' : (configFiles['filetype']=='document') ? '/(\\.|\\/)(txt|pdf|doc|docx|odt|xls|xlsx|rtf|ppt|gif|jpe?g|png)$/i' : '' }},
			/*maxRetries: 100,
			retryTimeout: 500,
			fail: function (e, data) {
				// jQuery Widget Factory uses "namespace-widgetname" since version 1.10.0:
				var fu = $(this).data('blueimp-fileupload') || $(this).data('fileupload'),
					retries = data.context.data('retries') || 0,
					retry = function () {
						$.getJSON('server/php/', {file: data.files[0].name})
							.done(function (result) {
								var file = result.file;
								data.uploadedBytes = file && file.size;
								// clear the previous data:
								data.data = null;
								data.submit();
							})
							.fail(function () {
								fu._trigger('fail', e, data);
							});
					};
				if (data.errorThrown !== 'abort' &&
						data.uploadedBytes < data.files[0].size &&
						retries < fu.options.maxRetries) {
					retries += 1;
					data.context.data('retries', retries);
					window.setTimeout(retry, retries * fu.options.retryTimeout);
					return;
				}
				data.context.removeData('retries');
				$.blueimp.fileupload.prototype
					.options.fail.call(this, e, data);
			}*/			
        }).on('fileuploadchunksend', function (e, data) {})
    .on('fileuploadchunkdone', function (e, data) {})
    .on('fileuploadchunkfail', function (e, data) {})
    .on('fileuploadchunkalways', function (e, data) {});

        // Load existing files:
        $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}').addClass('fileupload-processing');
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}').fileupload('option', 'url'),
            dataType: 'json',
            context: $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, $.Event('done'), {result: result});
            
            putequalheights_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}('gallery{{ configFiles['filetype'] }}row', 'gallery_files_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}', 3);
        });
        
        $('#fileupload_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}').bind('fileuploadprocessdone', function (e, data) {
            //alert("DONE!");
        });

        $( "#gallery_files_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}" ).sortable({
                //items: ".template-download:not(.clearfix)",
                cursor: "move",
                stop: function( event, ui ) {
                    var _itemposition = ui.item.index()
                    
                    //save the new position
                    $.post("{{ path('dataimage_moveimage') }}", { id: ui.item.attr('data-id'), newposition: _itemposition  },function(r){
                        if (r==null) return;
                        if (r.errorCode>0){alert("Error Moviendo Imagen: "+r.errorDescription);return;}
                    });                    
                    
                    putequalheights_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}('gallery{{ configFiles['filetype'] }}row',  'gallery_files_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}', 3);
                }
            });
            $( "#gallery_files_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }} .clearfix" ).disableSelection();
            
    });
    
    function putequalheights_{{ configFiles['type'] }}_{{ configFiles['filetype'] }}_{{ configFiles['id'] }}(classname, id_holder, num){
                    //put all the row with the same height
                    
                    {% if configFiles['filetype']!='image' %}if (1) return;{% endif %}
                    
                    $('[class*="'+classname+'"]').removeClass(function(i, c) {
                        return c.match(/{{ configFiles['filetype'] }}row\d+/g).join(" ");
                      });
                      
                    //$("#"+id_holder+" .clearfix" ).remove();
                    var contdivs = 1; var maxheight=0; var row=1;
                    $("#"+id_holder+" .template-download").each(function(){
                        //alert($(this).attr('id')+': '+$(this).outerHeight());
                        var auxheight = $(this).height();
                        
                    if (auxheight>maxheight) maxheight = auxheight;
                        $(this).addClass(classname+row);
                        if (contdivs%num==0 && maxheight>0){
                            $('.'+classname+row).height(maxheight);
                            row++;
                            maxheight=0;
                        }
                     contdivs++;
                    });
                    $("#"+id_holder).parent().removeClass('active');
                    $(".fancybox-image").fancybox({
                        groupAttr: 'data-rel',
                        prevEffect: 'none',
                        nextEffect: 'none',
                        closeBtn: true,
                        helpers: {
                            title: {
                                type: 'inside'
                            }
                        }
                    });                    
                    
    }
</script>

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{ asset('bundles/dataimage/plugins/jquery-file-upload/js/cors/jquery.xdr-transport.js') }}"></script>
<![endif]-->